html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 8px;
  }
}

.container {
  max-width: 960px;
}

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

#header {
  background-color: #8ea7cc;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#headerButton {
  justify-self: end;
  align-self: center;
  padding-right: 1rem;
}

#logoContainer {
  justify-self: end;
}

.logo {
  height: 4rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.2);
  z-index: 1;
}

.washingMachine {
  height: 540px;
  padding: 3% 10% 3% 1%;
}

.oven {
  height: 540px;
  padding: 6% 1% 6% 10%;
}

#mainSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.repairInfo {
  display: flex;
  flex-direction: column;
  flex: 1 350px;
  align-items: center;
  text-align: center;
  padding: 4% 0%;
  padding-top: 6%;
}

.repairInfo > * {
  padding-top: 3%;
}

.brandsLogos {
  background: url("./images/brands-logos.jpg") center no-repeat;
  background-size: 75% 85%;
  height: 30rem;
  outline: 10px solid #a663cc;
  outline-offset: -10px;
}

#icons {
  background-color: #8ea7cc;
  display: flex;
  justify-content: center;
}

#icons > * {
  width: 10rem;
  margin: 3rem;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
}

.footerLogo {
  height: 3rem;
  transition: transform 0.2s;
}

.footerLogo:hover {
  transform: scale(1.3);
  z-index: 1;
}
