html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 8px;
  }
}

.container {
  max-width: 960px;
}

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

#header {
  background-color: #8ea7cc;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

#headerButton {
  justify-self: end;
  align-self: center;
  padding-right: 1rem;
}

.logo {
  height: 64px;
  cursor: pointer;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.2);
  z-index: 1;
}

#mainSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7f7f7;
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
}

.repairInfo {
  display: flex;
  flex-direction: column;
  flex: 1 350px;
  align-items: center;
  text-align: center;
  padding: 1%;
}

.repairInfo > * {
  padding-top: 3%;
}

#service-1 {
  background-color: #a663cc;
  border-radius: 30px;
}

#service-2 {
  background-color: #8ea7cc;
  border-radius: 30px;
}

#brandsLogos {
  background: url("./images/brands-logos.jpg") center no-repeat;
  background-size: 90% 75%;
  height: 25rem;
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 10px #a663cc;
}

#icons {
  background-color: #8ea7cc;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  place-items: center;
  border-radius: 30px;
}

.svg-icon-b {
  height: 5rem;
  width: 5rem;
  justify-self: end;
  padding-right: 16px;
}

.svgTags {
  text-align: left;
  justify-self: start;
  font-weight: 700;
  color: black;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #f7f7f7;
  gap: 5px;
  padding: 16px;
}

.footerLogo {
  height: 3rem;
  transition: transform 0.2s;
}

.footerLogo:hover {
  transform: scale(1.3);
  z-index: 1;
}

.serviceBox {
  color: #606060;
  padding: 0 10px 60px;
  background-color: #130e07;
  border: 1px solid transparent;
  border-radius: 20px;
  margin: 80px 0 30px;
  position: relative;
}
.serviceBox .service-content {
  text-align: center;
  padding: 15px 20px 30px;
  margin-top: -80px;
  border-radius: 25px;
  background-color: #fff;
  position: relative;
  transition: all 0.3s;
}

.serviceBox .service-content:after {
  content: "";
  height: 50px;
  width: 50px;
  border: 25px solid transparent;
  border-top: 25px solid #fff;
  transform: translateX(-50%);
  position: absolute;
  bottom: -50px;
  left: 50%;
}
.serviceBox .service-icon {
  display: inline-block;
  color: #f9a11c;
  font-size: 90px;
  margin-bottom: 10px;
  transition: all 0.3s ease 0s;
}
.serviceBox:hover .service-icon {
  transform: rotateX(360deg);
}
.serviceBox .title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.serviceBox .description {
  font-size: 15px;
  line-height: 25px;
  margin: 0;
}
.serviceBox .read-more {
  display: block;
  width: 60%;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 10px 0;
  background-color: #6d4d42;
  border-radius: 15px;
  transform: translateX(-50%);
  transition: all 0.3s ease 0s;
  position: absolute;
  left: 50%;
  bottom: -20px;
}
.serviceBox .read-more:hover {
  text-decoration: none;
  letter-spacing: 2px;
  box-shadow: 0 0 10px #000;
}
.serviceBox {
  background-color: #c0b8f4;
}
.serviceBox .service-icon {
  color: #44bb85;
}
.serviceBox .read-more {
  background-color: #533de1;
}

@media only screen and (max-width: 990px) {
  .serviceBox {
    margin-bottom: 60px;
  }
  .serviceBox .service-content {
    padding: 20px 15px 30px;
  }
}

@media (max-width: 770px) {
  #mainSection,
  #service-1,
  #service-2,
  #brandsLogos,
  #icons {
    margin-bottom: 1rem;
  }

  #footer {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    place-items: center;
    text-align: center;
  }
}
